{% load static %}
<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>JonquilleBois - {% block title %}{% endblock title %}</title>
      <meta name="description" content="Artisan ébeniste, spécialisé dans l’agencement d’intérieur et la réalisation de mobilier sur mesure.">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% load bootstrap5 %}
      {% bootstrap_css %}
      {% bootstrap_javascript %}
      <link rel="stylesheet" href="{% static 'css/app.css' %}">
    </head>
    <body>
      <header>
        <div class="container-fluid">
          <div class="row">
            <nav class="navbar fixed-top navbar-expand-md navbar-light px-5">
                <a href="#">
                  <img src="{% static 'img/jonquillebois-logo.png' %}" id="logoNavbarJonquilleBois" alt="jonquillebois logo" class="img-fluid">
                  <span class="hidden">JonquilleBois</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                      data-bs-target="#toggleMobileMenu" aria-controls="toggleMobileMenu" aria-expanded="false"
                      aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="toggleMobileMenu" data-target=".navbar-collapse" data-toggle="collapse">
                  <ul class="navbar-nav ms-auto text-center">
                    <li><a class="nav-link mx-3 " href="{% url 'home' %}">ACCUEIL</a></li>
                    <li><a class="nav-link mx-3" href="{% url 'arrangement' %}">AGENCEMENT</a></li>
                    <li><a class="nav-link mx-3" href="{% url 'furnitures' %}">MOBILIER</a></li>
                    <li><a class="nav-link mx-3" href="{% url 'contact' %}">CONTACT</a></li>
                    <li><a class="nav-link mx-3" target="_blank" href="https://www.instagram.com/jonquilleBois/">
                    insta</i><span class="hidden">Instagram</span></a></li>
                  </ul>
               </div>
            </nav>
          </div>
        </div>
      </header>
      <main>
    {% block content %}{% endblock content %}
      </main>
      <footer>
        <div class="container">
            <div class="row pt-2">
                <p class="text-center">&copy;2021 JonquilleBois - All rights reserved</p>
            </div>
        </div>
    </footer>
    <link type="text/javascript" src="{% static 'js/app.js' %}">
    </body>
</html>