{% extends "base.html" %}
{% load static %}
{% block title %}Contact{% endblock %}
{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 text-center mt-md-5 pt-5 pb-3" id="infos-contact">
                <p class="lead">
                    <a href="tel:{{ phone }}" id="call-link">
                        <img src="{% static 'img/phone.svg' %}" id="logo-phone">
                        {{ phone|default:"Non disponible" }}
                    </a>
                </p> 
                <p class="lead">
                    <a href="https://www.google.com/maps/search/?api=1&query={{ address|urlencode }}" target="_blank" id="map-link">
                        <img src="{% static 'img/map.svg' %}" id="logo-map">
                        {{ address|default:"Non disponible" }}
                    </a>
                </p>
                <a href="https://www.instagram.com/jonquilleBois/" target="_blank" id="insta-link">
                    <img src="{% static 'img/instagram.svg' %}" id="logo-insta">
                    <span class="lead">jonquilleBois </span>
                </a>
            </div>
            <div class="col-md-6 mx-auto text-center mt-md-5 pt-5 pb-3">
                <span class="lead">Pour nous contacter:</span>
                <form method="POST" action="/contact/">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Votre nom" required>
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Votre adresse mail" required>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="subject" name="subject" placeholder="Objet" required>
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" id="message" name="message" rows="5" placeholder="Écrivez votre message ici" required></textarea>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Envoyer le message</button>
                    </div>
                </form>
            </div>
        </div>
{% endblock content %}